@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

body {
	font-family: 'Karla', sans-serif;
    font-style: italic;
    text-align: center;
}


button {
  background-color: #035aa6;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 4%;
}
.wrapper {
	max-width: 500px;
    margin: 20px auto;
}
div {
	border-radius: 5px;
}

#element {
    transition: all 1s;
}

.small{
    border: 8px solid #515151;
    box-shadow: 0 0 0px 2px #515151;
    border-radius: 1em;
    color: #81a571;
}

.middle{
    border: 20px solid #515151;
    border-radius: 1em;
    color: #81a571;

}

.big{
    border: 1px solid #82a571;;
    border-radius: 1em;
    font-family: 'Frijole', cursive;
    box-shadow: 0 0 0px 30px #82a571;
    color: #f1d33e;
    font-size: 1.8rem;
    transition-delay: .5s;
    animation: change 1.2s infinite ease-in-out;
}

@keyframes change{
    from{ 
      color:blue;
}
    to {
       color:magenta;
}
}